// bower:scss
// endbower

body {
     background: linear-gradient(rgba(23, 22, 23, 0.6), rgba(23, 22, 23, 0.6)),url("https://scontent-a-atl.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/226575_2068601717186_4802771_n.jpg?oh=76b0bf42f1dc4e4452637ad93f6e636f&oe=547F9C22") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0px;
}

//Home page//
.greeting {
    color: white;
    font-size: 20px;
    text-align: right;
    margin-right: 10px;
    padding-top: 0px;
} 

.home-container {
    color:white;
    text-align: center;
    padding-top: 200px;

    a {
        text-decoration: none;
        padding-right: 30px;
        color: white; 
       
    }

    img {
        height: 140px;
        width: 140px;
    }
}

//CheckList//

h1{
    color:purple;
    text-align: center;
    background-color: #222222;
    opacity: 0.8;
    margin-left: 15%;
    margin-right: 15%;
}


.block-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15%;
    margin-top: 0%;
    text-align: center;
    background-color: #222222;
    color: white;
    opacity: 0.9;
    border-radius: 2%;
}

.footer1 {
    width:100%;  
    height: 530px;
    border-radius: 2%;
    margin-bottom: 15%;
}

input {
        text-align: center;
    }

.sub-header {
    width: 100%;
    height:100px;

    /*background-color: black;*/
    a {
        font-size: 30px;
        color: #F5F5F5;
        text-decoration: none;
        text-align: center;

    }

    img {
          height:50px;
          width: 50px;
    }
}

//schedule//
.table-container {
    margin-left: 5%;
    margin-bottom: 5%;
    /*margin-top: 5%;*/
    margin-right: 5%;
    color: purple;
    
    thead {
        background-color: black;
        opacity: 0.8;
        color: purple;
    }

    tbody{
        background-color: black;
        opacity: 0.8;
    }

    tr{
        height:100px;
        color: purple;
    }

    th{
        width: 500px;
        color: white;

    }

    input{
        margin:0;
        width: 50px;

    }

}

#form {
    width: 20em;
    background: #DDA0DD;
    padding: 2em;
    border-radius: .3em;
    margin: 0 auto;
}



input { 
  outline: none; 
}

.list-content {
    background: #e2e2e2;
    border: none;
    color: #222222;
    border-radius: 1em;
    padding: 1.1em;
    width: 56%;
    margin-right: .3em;
}

.button {
    border: 1em solid #D8BFD8;
    border-radius: 1em;
    background: #D8BFD8;
    color: #FFF;
    cursor: pointer;
}

.button:hover {
    background: #EE82EE;
    border: 1em solid #EE82EE;
}

.list {
    width: 24em;
    margin: 0 auto;
    padding: 0;
}

.item {
    border: .1em solid #e2e2e2;
    background: white;
    color: #A9A9A9;
    padding: 1em;
    border-radius: .3em;
    margin: 1em 0;
    font-family: arial, helvetica;
}

.item:hover {
    background:#E82C0C url('http://i.imgbox.com/abywaQfh.png') 95% 1em no-repeat;
    border-color: #E82C0C;
    color: #FFF;
    transition: background-color .3s;
    cursor: pointer;
}

//notes//
.notes-container {
    height: 500px;
    width: 500px;
    margin: 5%;
    background-color: black;
    opacity: 0.9;


}

